extends ../../../../example/_layouts/_main_basic



block title
    title menu
block head

block content
    header#header
        .header-body
            .header-container
                .header-nav-main
                    nav
                        ul.nav.nav-pills.level-1
                            li.dropdown
                                a.dropdown-item.dropdown-toggle menu
                                ul.dropdown-menu.level-2
                                    li
                                        a.dropdown-item menu1
                                    li
                                        a.dropdown-item menu2
                                    li.dropdown-submenu
                                        a.dropdown-item.dropdown-toggle menu
                                        ul.dropdown-menu.level-3
                                            li
                                                a.dropdown-item menu2-1-1
                                            li
                                                a.dropdown-item menu2-1-2
                                                ul.dropdown-menu.level-4
                                                    li
                                                        a.dropdown-item menu2-1-1
                                                    li
                                                        a.dropdown-item menu2-1-2
                            li.dropdown
                                a.dropdown-item.dropdown-toggle menu
                                ul.dropdown-menu.level-2
                                    li
                                        a.dropdown-item menu1
                                    li
                                        a.dropdown-item menu2
                                    li.dropdown-submenu
                                        a.dropdown-item.dropdown-toggle menu
                                        ul.dropdown-menu.level-3
                                            li
                                                a.dropdown-item menu2-1-1
                                            li
                                                a.dropdown-item menu2-1-2
