extends ../../../../example/_layouts/_main_basic



block title
    title menu
block head

block content
    header#header
        .header-body
            .header-container
                .header-nav-main
                    nav
                        ul.nav.nav-pills.level-1
                            li.dropdown.dropdown-x
                                a.dropdown-item.dropdown-toggle menu1
                                ul.dropdown-menu.level-2
                                    li.dropdown-submenu
                                        a.dropdown-item.dropdown-toggle menu1-1
                                        ul.dropdown-menu.level-3
                                            li.dropdown-submenu
                                                a.dropdown-item menu1-1-1
                                                ul.dropdown-menu.level-4.name1-3
                                                    li.dropdown-submenu
                                                        a.dropdown-item menu1-1-1-1
                                                        ul.dropdown-menu.level-5
                                                            li
                                                                a.dropdown-item menu1-1-1-1-1
                                            li
                                                a.dropdown-item menu1-1-2
                                    li.dropdown-submenu
                                        a.dropdown-item.dropdown-toggle menu1-2
                                        ul.dropdown-menu.level-3
                                            li
                                                a.dropdown-item menu1-2-1
                                            li
                                                a.dropdown-item menu1-2-2
                            li.dropdown.dropdown-x
                                a.dropdown-item.dropdown-toggle menu2
                                ul.dropdown-menu.level-2
                                    li
                                        a.dropdown-item menu2-1
                                    li.dropdown-submenu
                                        a.dropdown-item.dropdown-toggle menu2-1-1  menu2-1-1   menu2-1-1
                                        ul.dropdown-menu.level-3
                                            li
                                                a.dropdown-item menu2-1-1
                                            li
                                                a.dropdown-item menu2-1-2
                                    li.dropdown-submenu
                                        a.dropdown-item.dropdown-toggle menu
                                        ul.dropdown-menu.level-3
                                            li
                                                a.dropdown-item menu2-1-1
                                            li
                                                a.dropdown-item menu2-1-2
