extends ../_layouts/_main.pug
block title
    title 範例頁面
block head

block content
    .container
        h1 範例總覽
        h2 preloader
        .row
            .col-4
                .card
                    img.card-img-top(src="~img/test.jpg")
                    .card-body
                        h5.card-title pace-js
                        p.card-text 線條
                    ul.list-group.list-group-flush
                        li.list-group-item
                            a.card-link(href="preloader_paceJs_01.html" target="_blank") (推)橫線線條中間變寬
                        li.list-group-item
                            a.card-link(href="preloader_paceJs_02.html" target="_blank") 畫面由下打開
                        li.list-group-item
                            a.card-link(href="preloader_paceJs_03.html" target="_blank") 畫面由上到下顯示
                .card
                    img.card-img-top(src="~img/test.jpg")
                    .card-body
                        h5.card-title 自己開發
                        p.card-text Js
                    ul.list-group.list-group-flush
                        li.list-group-item
                            a.card-link(href="preloader_js_01.html" target="_blank") 基本
                        li.list-group-item
                            a.card-link(href="preloader_js_02.html" target="_blank") 畫面由下打開

