extends ../_layouts/_main.pug
block title
    title 範例頁面
block head

block content
    h1 範例總覽
    h2 preloader 進度條
    ul
        li
            a.d-block(href="preloader.html") preloader
            small 使用 pace-js ，檔案路徑：src/example/preloader/index.pug
