/*-------------------------
    Variables
-------------------------*/

:root {
  --color-light: #ffffff;
  --transition: all 0.3s ease-in-out;
  --color-dark: #D94638;
  --color-body: #D94638;
  --color-white: #ffffff;
}

.navbar-toggler{
  position: fixed;
  right: 3%;
  top:4%;
}
.header{
  position: fixed;
  top:0;
  width: 100%;
}

/* ======= navbar Style ======= */
/* 選單底 */
.navbar{
  $navbarWidth:80%;
  position: absolute;
  top:2vh;
  left:(100% - $navbarWidth)/2;
  height: 100px;
  border-radius: 60px;
  background-color: var(--color-light);
  width: $navbarWidth;
  .navbar-brand{
    margin-left: 35px;
  }
}
.nav-right-wp{
  background-color: var(--color-dark);
}
/* 選單按鈕 */
.navbar-toggler {
  height: 60px;
  width: 60px;
  background-color: var(--color-light);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: var(--transition);
  &:focus {
    box-shadow: none;
  }
  span {
    height: 2px;
    width: 20px;
    background-color: var(--color-dark);
    margin-bottom: 4px;
    border-radius: 10px;
    transition: var(--transition);
    &:last-child {
      margin-bottom: 0;
      width: 10px;
      margin-right: -10px;
    }
  }
  &:hover{
    span:last-child {
      width: 20px;
      margin-right: 0;
    }
    span:first-child {
      width: 10px;
      margin-right: -10px;
    }
  }
  &.btn-dark {
    background-color: var(--color-dark);
    span {
      background-color: var(--color-white);
    }
  }
  @media only screen and (max-width: 991px) {

    height: 50px;
    width: 50px;

  }
}


